<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @contact.email %></h1>
    <p>
      Thank you for your message. We will contact you soon!
    </p>
  </body>
</html>