<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Hi <%= @user.email %></h4>
    <h5>your password for login is <%= @user.password %></h5>
    <p>
      You have successfuly Registered.
    </p>
  </body>
</html>