.container
  .row
    .col-lg-12.text-center
      %h2 About Maropost
      %hr.star-light
    .row
      .col-md-7
        %p
          Maropost Marketing Cloud turns prospects into clients and leads into conversions by ensuring delivery of targeted messaging to the right contact at the right time.
          From web, to mobile, to social, and across email, SMS, and digital, our Marketing Cloud offers the industry&#x2019;s most advanced personalization and automation features &#x2013; all to make your life easier and to increase your marketing ROI.
          With Maropost Marketing Cloud, a single marketer can drive results previously only attainable by large teams leaning on multiple vendors.
        %p
          Maropost Sales Cloud is the all-in-one platform for your sales, customer service, and commerce departments. Our Sales Cloud was built from the ground up to offer combined insight and complete integration for a 360 business view. With our first-class customer support, we&#x2019;ve built the last sales platform you&#x2019;ll ever use. And the best part? You can choose and customize what features you want. Because the challenges your business is facing are unique, and you need a tailored solution for maximum success.
      .col-md-5
        %img.img-rounded{:src => "/assets/maropost-footer.png",:class => "img-rounded", :alt=>"Cinque Terre", :width=>"320",:height=>"236"}>/
