// Place all the styles related to the galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




#photo_counter
{
  width: 6%;
  height: 10%;
  background: yellow;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 20px 5px 20px 5px;
  float:right;
  margin:5px;
}

.count
{
  line-height: 100px;
  color:black;
  margin-left:30px;
  font-size:25px;
}
.count-text{
    float: right;
    margin-right: -550px;
    margin-top: 50px;
    font-size: 20px;
}
.img-sz{
  height: 300px;
  width: 300px;
}